li {
  cursor: pointer;
}
* {
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

main {
  position: fixed;
  top: 63px;
  left: 0;
/*  note vh and vw switched  */
  width: 100vh; 
  height: 100vw;
/*    */
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
/*   scroll-snap-type: y mandatory; */
}

article {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}

section {
  padding: 0 3rem;
  width: 100vw;
  height: 100vh;
/*   scroll-snap-align: start; */
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 3rem;
/*  backface visibility keeps font from looking weird  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

section:nth-of-type(odd) {
  background: var(--grisclaro);
  color: #fff;
}

section:nth-of-type(even) {
  color: #fff;
}