#frame {
    border: .2rem solid var(--gris); 
    border-radius: 3.2rem;
}
.item {
    flex: .3;
    height: 100%;
    background-position:left;
    background-size: cover;
    background-repeat: none;
    transition: flex 1s ease-in-out;
    opacity: .2;
  }
  .item:hover {
      flex: 6;
      opacity: 1;
      transform: scale(1);
    }
  
  .item-1 { 
    background-image: url('../img/LentesP/lentespurpura-web.png');
  }
  .item-1:hover { 
    background-image: url('../img/LentesP/lentespurpura-web.png');
    }
  
  .item-2 { 
    background-image: url('../img/LentesP/lentespurpura-assets2.png');
  }
  .item-2:hover { 
    background-image: url('../img/LentesP/lentespurpura-assets2.png');
  }
  
  .item-3 { 
    background-image: url('../img/LentesP/lp-mockup-movil1.jpeg');
  }
  .item-3:hover { 
    background-image: url('../img/LentesP/lp-mockup-movil1.jpeg');
  }
  
  .item-4 { 
    background-image: url('../img/LentesP/lentespurpura-assets.png');
  }
  .item-4:hover { 
    background-image: url('../img/LentesP/lentespurpura-assets.png');
  }
  
  .item-5 { 
    background-image: url('../img/LentesP/lentespurpura-donatives.png');
  }
  .item-5:hover { 
    background-image: url('../img/LentesP/lentespurpura-donatives.png');
  }
  
  .mobile-item {
    flex: .3;
    height: 100%;
    background-position:left;
    background-size: cover;
    background-repeat: none;
    transition: flex 1s ease-in-out;
    opacity: .2;
  }
  .mobile-item:hover {
      opacity: 1;
      transform: scale(1);
      background-position:center;
    }