#frame {
    border: .2rem solid var(--gris); 
    border-radius: 3.2rem;
}
.item {
    flex: .3;
    height: 100%;
    background-position:left;
    background-size: cover;
    background-repeat: none;
    transition: flex 1s ease-in-out;
    opacity: .2;
  }
  .item:hover {
      flex: 6;
      opacity: 1;
      transform: scale(1);
    }
  
  .item-1 { 
    background-image: url('../img/Skygarden/timeassistance001-brochure.png');
  }
  .item-1:hover { 
    background-image: url('../img/Skygarden/timeassistance001-brochure.png');
  }
  
  .item-2 { 
    background-image: url('../img/Skygarden/skygarden-internal-comunications.png');
  }
  .item-2:hover { 
    background-image: url('../img/Skygarden/skygarden-internal-comunications.png');
  }
  
  .item-3 { 
    background-image: url('../img/Skygarden/time-assistance-services-web.png');
  }
  .item-3:hover { 
    background-image: url('../img/Skygarden/time-assistance-services-web.png');
  }
  
  .item-4 { 
    background-image: url('../img/Skygarden/skygarden-presentations.png');
  }
  .item-4:hover { 
    background-image: url('../img/Skygarden/skygarden-presentations.png');
  }
  
  .item-5 { 
    background-image: url('../img/Skygarden/timeassistance-mockup-low.png');
  }
  .item-5:hover { 
    background-image: url('../img/Skygarden/timeassistance-mockup-low.png');
  }
  
  .mobile-item {
    flex: .3;
    height: 100%;
    background-position:left;
    background-size: cover;
    background-repeat: none;
    transition: flex 1s ease-in-out;
    opacity: .8;
  }
  .mobile-item:hover {
      opacity: 1;
      transform: scale(1);
      background-position:center;
    }
    .card-mobile {
      margin: 0 1rem;
      min-width: 50rem;
      border-radius: 1.2rem;
  }