#frame {
    border: .2rem solid var(--gris); 
    border-radius: 3.2rem;
}
.item {
    flex: .3;
    height: 100%;
    background-position:left;
    background-size: cover;
    background-repeat: none;
    transition: flex 1s ease-in-out;
    opacity: .2;
  }
  .item:hover {
      flex: 6;
      opacity: 1;
      transform: scale(1);
      background-position:top;
    }
  
  .item-1 { 
    background-image: url('../img/Vozzoa/planet.png');
  }
  .item-1:hover { 
    background-image: url('../img/Vozzoa/planet.png');
  }
  
  .item-2 { 
    background-image: url('../img/Vozzoa/coolorss.png');
  }
  .item-2:hover { 
    background-image: url('../img/Vozzoa/coolorss.png');
  }
  
  .item-3 { 
    background-image: url('../img/Vozzoa/stars.png');
  }
  .item-3:hover { 
    background-image: url('../img/Vozzoa/stars.png');
    background-position:bottom;

  }

  .item-4 { 
    background-image: url('../img/Vozzoa/wireframes.png');
  }
  .item-4:hover { 
    background-image: url('../img/Vozzoa/wireframes.png');
    background-position:center;
  }
  
  .item-5 { 
    background-image: url('../img/Vozzoa/stars2.png');
  }
  .item-5:hover { 
    background-image: url('../img/Vozzoa/stars2.png');
  }

  .mobile-item {
    flex: .3;
    height: 100%;
    background-position:left;
    background-size: cover;
    background-repeat: none;
    transition: flex 1s ease-in-out;
    opacity: .2;
  }
  .mobile-item:hover {
      opacity: 1;
      transform: scale(1);
      background-position:center;
    }