:root {
    --fuenteHeading: 'Montserrat', sans-serif;
    --fuenteParrafos: 'Montserrat', sans-serif;

    --primario: #ff00e6;
    --secundario: #A3FFDB;
    --gris: #888888;
    --grisclaro: #dbdbdb;
    --blanco: #ffffff;
    --dark: #241d29;

    --gradient: linear-gradient(132deg, #FC415A, #591BC5, #212335);
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*HEADER*/
header {
    width: 100%;
    height: 57px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
    border-top: 2px solid var(--primario);
}

/*MENU*/
#menuToggle {
    display: block;
    position: relative;
    top: 17px;
    left: 12px;
    z-index: 1;
    user-select: none;
}
#menuToggle a {
text-decoration: none;
color: #232323;
transition: color 0.3s ease;
}
#menuToggle a:hover{
color: #b7036c;
font-weight: 900;
}
#menuToggle input{
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;
cursor: pointer;
opacity: 0; /* hide this */
z-index: 2; /* and place it over the hamburger */
-webkit-touch-callout: none;
}
/*hamburger*/
#menuToggle  span {
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;
background:  #ff00e6;
border-radius: 3px;
z-index: 1;
transform-origin: 4px 0px;
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
transform-origin: 0% 100%;
}
/*crossmark*/
#menuToggle input:checked ~ span {
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #232323;
}
/*hide the middle one*/
#menuToggle input:checked ~ span:nth-last-child(3) {
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}
/*the last one should go the other direction*/
#menuToggle input:checked ~ span:nth-last-child(2) {
transform: rotate(-45deg) translate(0, -1px);
}

#menu {
position: absolute;
margin: -10rem 0 0 -5rem;
padding: 50px 90px;
padding-top: 125px;
background: #ebebeb;
list-style-type: none;
-webkit-font-smoothing: antialiased;
border-radius: 10px;
/* to stop flickering of text in safari */
transform-origin: 0% 0%;
transform: translate(-100%, 0);
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li {
padding: 10px 0;
font-size: 18px;
}
/* And let's slide it in from the left*/
#menuToggle input:checked ~ ul {
transform: none;
}


/*BODY*/
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/**COLUMNS**/

/**GLOBALES**/
p {
    font-size: 16px;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    color: var(--dark);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
h5 {
    font-size: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.fw-700 {
    font-weight: 900;
}

.primary-text {
    color: var(--primario);
} 

.link {
    color: #3c00ff;
    text-decoration: underline;
    cursor: pointer;
 }

 .uppercase {
     text-transform: uppercase;
 }

 .capitalize {
     text-transform: capitalize;
 }

 .bold {
    font-weight: bolder;
 }
 
.m-auto {
    margin: auto;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-none {
    display: block;
 }

 .d-lg-none {
    display: none;
 }

.absolute {
    position: absolute;
}

.pointer {
    cursor: pointer;
  }


  /*ALIGNMENT*/
.justify-content-center {
justify-content: center;
}
.justify-content-around {
    justify-content: space-around;
}
.align-center {
    align-self: center;
}
.text-center {
    text-align: center;
}
.class-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

  /*SPACING*/
    .m-0 {
        margin: 0;
        }
    .p-0 {
        padding: 0;
        line-height: 0;
        }
    .p-1 {
        padding: 16px;
    }
    .p-3 {
        padding: 32px;
    }
    .p-4 {
        padding: 62px;
    }
    .pt-1 {
        padding-top: 16px;
    }
    .pt-3 {
        padding-top: 32px;
    }
    .pt-4 {
        padding-top: 62px;
    }
    .pl-0 {
        padding-left: 0;
    }
    .pl-1 {
        padding-left: 16px;
    }
    .pl-3 {
        padding-left: 32px;
    }
    .pl-4 {
        padding-left: 62px;
    }
    .pr-1 {
        padding-right: 16px;
    }
    .pr-4 {
        padding-right: 62px;
    }
    .pb-1 {
        padding-bottom: 16px;
    }
    .pb-3 {
        padding-bottom: 32px;
    }
    .pb-4 {
        padding-bottom: 62px;
    }

  /*CONTAINERS*/
.container {
    padding: 1.6rem 3.2rem;
}
    .container-nosotros {
        width: 60%;
        margin: auto;
        justify-content: center;
        display: block;
    }
    .img-container {
        width: 35rem;
    }

  @media only screen and (max-width: 600px) {
    .container-nosotros {
        width: 75%;
        margin: auto;
        justify-content: center;
        display: block;
    }
  }
    .primary-container {
    background: var(--gradient);
    animation: Gradient 10s ease infinite;
    background-size: 400% 400%;
    }
    .gray-container {
        background-color: var(--grisclaro);
    }
    .dark-container {
        background-color: var(--dark);
    }


  /*IMG*/
    img {
        border-radius: 0.8rem;
    }
    .d-hover img {
        display: none;
    }
    .d-hover img:hover {
        display: block;
    }

  /*BUTTONS*/
    .btn {
        display: block;
        cursor: pointer;
        font-size: 1.8rem;
        padding: 1rem 3rem;
        font-weight: 500;
        text-decoration: none;
        border-radius: 0.8rem;
    }
    @media (min-width: 768px) {
        .btn {
            display: inline-block;
        }
    }
    .btn:hover {
    filter: saturate(120%);
    transform: scale(1);
    transition: all 0.5s;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.30);
    }
    .primary-btn {
        color: rgb(255, 255, 255);
        background: var(--gradient);
        cursor: pointer;
        animation: Gradient 10s ease infinite;
        background-size: 400% 400%;
    }
    .secondary-btn {
        border: none;
        color: white;
        background-color: dark;
        cursor: pointer;
    }

/*COLORS*/
    .primary {
        color: var(--primario);
    }
    .white {
        color: var(--blanco);
    }
    .dark {
        color: var(--dark);
    }
    .gray {
        color: var(--gris)
    }

    /*CARDS*/
  .card-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
    .text-card {
        margin: auto;
    }
  @media only screen and (max-width: 700px) {
        .card-container {
            max-width: 700px;
            display: flex;
            justify-content: space-evenly;
        }
        .text-card {
            margin: auto;
        }
        .sm-center {
            display: flex;
            margin: auto;
            justify-content: center;
        }
        .container-scroll{
            width: 100%;
            padding: 0 0 0 80px;   
        }
    }   

  .card {
    width: 100%;
    margin: 0 1rem;
    min-width: 250px;
    border-radius: 10px;
  }

  @media only screen and (max-width: 700px) {
        .card {
            display: flex;
            width: 25%;
            position: relative;
            overflow-y: visible;    
        }
        .hero-intro h4 {
            font-size: 20px ;
        }
        
        .hero-intro h4:focus {
            color: #f2cc30;
            font-weight: 700;
        }
        .content-intro {
            background-color: rgba(13, 3, 3, 0.594);
        }
    }

  /* HERO*/

.hero {
    position: relative;
    width: auto;
    height: 375px;
}

.hero-intro {
    background-image: url(../img/Bottom.png);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.hero-intro h4 {
    font-size: 28px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    line-height: 1.5;
    transform: translate(0, 130px);
}
.hero-intro h4:hover {
    color: #f2cc30;
    font-weight: 700;
}
.content-intro {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    background-color: rgba(13, 3, 3, 0.959);
  }

.hero-inner {
    background: var(--gradient);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    position: relative;
    overflow: hidden;
    padding:0;
    margin:0px;
    width: 100%;
    height: 375px;
    display: flex;
    align-items: center;
}

.dinamic-col {
display: flex; 
max-width: 100%;
} 

.dinamic-col p, a {
    color: var(--gris);
    } 

.dinamic-col img:hover{
    filter: saturate(110%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.20);
    transition: all 0.2s;
    } 

@media only screen and (max-width:800px) {
.dinamic-col {
    width: 100%;
    display: block; 
}
}

/*BLOG*/
.blog-img {
max-height: 15rem;
border-radius: 10px;
}

.blog-img:hover{
    filter: saturate(110%);
    transform: scale(1);
    transition: all 0.2s;
    } 

    .wrapper-blog {
        padding-bottom: 32px;
        width: 100%;
        max-width: 536px;
    }
    .wrapper-blog h3 {
    line-height: 1.1;
    height: 7.5rem;
    overflow: hidden;
    }
    
.wrap-blog {
    line-height: 2rem;
    height: 6.2rem;
    overflow: hidden;
}

/*SLIDER*/
    .slider-container-y {
        display: flex;
        width: 100%;
        height: 350px;
        overflow-x: scroll;
        scroll-snap-type: y mandatory;
        }
    .slider-container {
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: 32px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        cursor: pointer;
        }
    .slider-item {
        flex: 0%;
        object-fit: cover;
        scroll-snap-align: center;
    }

/*SCROLLER*/
    .scroller {
        padding-right: 271px;
        height: 292px;
    }
    .scroll-bar {
            padding-right: 271px;
            height: 292px;
    }
    .contenedor {
        margin: auto;
        width: 100%;
        overflow: auto;
        padding: 24px;
    }
    .contenedor::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .contenedor::-webkit-scrollbar:vertical {
        width:10px;
    }
    .contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
        display: none;
    } 
    .contenedor::-webkit-scrollbar:horizontal {
        height: 10px;
    }
    .contenedor::-webkit-scrollbar-thumb {
        background: var(--gradient);
        animation: Gradient 1s ease infinite;
        background-size: 400% 400%;
        border-radius: 20px;
    }
    .contenedor::-webkit-scrollbar-track {
        border-radius: 10px;  
    }

/*RRSS*/
.social-class {
    flex-direction: column;
    width: 20px;
    position: fixed;
    right: 100px;
    top: 200px;
}

/*MOBILE Q*/

 @media only screen and (max-width: 700px) {
    .social-class {
        display: none;
    }
    .footer-icon {
    display: none;
    }     
    .hidden { 
        display: hidden; 
    }
    .link {
        display: none;
     }
     .d-none {
        display: none;
     }
    .d-lg-none {
        display: block;
    }
     .flex-column {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
      }
  }

@media only screen and (max-width: 800px) {
    .display-up {
        display: none;    
    }
      .w-100{
        width: 100%;  
    }  
  }

  @media only screen and (max-width: 1010px) {
        .social-class {
        flex-direction: column;
        width: auto;
        position: fixed;
        right: 28px;
        top: 80px;
        }
    }

  @media only screen and (max-width:1200px) {
        .container-scroll {
            width: 100%;
            padding: 0 0 0 80px;   
        }   
        .img-movil {
            display: block;
            flex-wrap: wrap;
            margin: auto;
        }
        .p-1-sm {
            padding: 0;
        }
    }
  
/*MOTION*/
.grad-color {
    animation: Gradient 10s ease-in-out infinite;
}
    @keyframes Gradient {
        0% {
        background-position: 0% 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
    }
.typo-change {
    animation: TypoChange 10s ease-in-out infinite;
}

    @keyframes TypoChange {
        0% {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FC415A;  
        }
        10% {
        font-family: Verdana, Geneva, Tahoma, sans-serif
        }
        20% {
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #591bc5;
        }
        30% {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        40% {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        50% {
            font-family: 'Montserrat', sans-serif;
            color: #212335;
        }
        60% {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FC415A;  
        }
        70% {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        80% {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #591bc5;
        }
        90% {
            font-family:'Times New Roman', Times, serif;
        }
        100% {
            font-family: 'Montserrat', sans-serif;
            color: #212335;
        }
    }

  /*FOOTER*/
footer {
    height: auto;
    display: grid;
    align-items: center;
    background-color: var(--dark);
    border-top: 0.3rem solid var(--secundario);
 }
 .footer-icon {
    height: 33px;
    position: absolute;
}
